*{
    font-family: 'Open Sans', sans-serif;
    color: black;
   
}

.contentSection{
    color: #8d99ae;
    padding: 120px 40px 40px;
   
}

.contentSection *{
  color: #111;
}

@media screen and (max-width: 950px) {
    .contentSection{
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.option{
    float: left;
    display: block;
    cursor: context-menu;
    padding: 20px;
    font-family: 'Open sans', sans-serif;
    font-size: 30;
    background-color: white;
    margin: 15px;
    transition-timing-function: ease;
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.option:hover{
    transform: scale(1.1);
}

.welcomeMessage{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding-bottom: 25px;   
}

.title{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(167, 37, 48);
    padding: 10px;
    font-weight: 600;
}

.section{
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: #8d99ae;
    border-radius: 15px;
    background: rgb(141,153,174);
    background: linear-gradient(167deg, rgba(141,153,174,0.4009978991596639) 25%, rgba(141,153,174,0.5858718487394958) 80%);
}